body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #00D320;
  color: white;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.logo{
  background: #00D320;
  height: 90px;
  width: 90px;
  float: left;
  margin: 5px;
  margin-top: 2%;
}
.fb{
  background: #00D320;
  height: 50px;
  width: 50px;
  float: right;
  margin: 5px;
  margin-top: 2%;
}
.x{
  background: #00D320;
  height: 50px;
  width: 50px;
  float: right;
  margin: 5px;
  margin-top: 2%;
}
.inst{
  background: #00D320;
  height: 50px;
  width: 50px;
  float: right;
  margin: 5px;
  margin-top: 2%;
}
.pin{
  background: #00D320;
  height: 50px;
  width: 50px;
  float: right;
  margin: 5px;
  margin-top: 2%;
}
.hero-image{
  background: #00D320;
  height: 350px;
  width: 90%;
  margin: 5px;
  margin-top: 10%;
  margin-left: 5%;
}
.content{
  background: #00D320;
  height: 700px;
  width: 90%;
  margin: 5px;
  margin-top: 10%;
  margin-left: 5%;
}
